<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Todo Client</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="js/libs/angular.js"></script>
    <style>
      .red {background: pink;}
      .yellow {background: rgb(187, 243, 74);}
      .green {background: rgb(92, 214, 92)}
    </style>
  </head>
  <body>
    <div class="d-flex justify-content-center">
      <h1> Todo List </h1>
  </div>
    <div class="todo" ng-controller="TodoController as todo">
      <form class="todo__form ml-5"  ng-submit="todo.addTodo();">
        <input type="text" placeholder="Add new Todo" ng-model="todo.newTitle">
        <input type="text" placeholder="Add Category" ng-model="todo.newCategory">
        <input type="text" placeholder="Add Difficulty" ng-model="todo.newDifficulty">
        <input type="submit">
      </form>
      <ul class="todo__list" >
        <li
          ng-class="{
            red: item.difficulty === 'hard',
            yellow: item.difficulty === 'medium',
            green: item.difficulty === 'easy'
          }"
          ng-repeat="item in todo.list">
          <input type="checkbox" id="todo-{{ $index }}" ng-model="item.completed">
          <label class="toggle" for="todo-{{ $index }}"></label>
          <div class="d-flex justify-content-between">
            <div> <p> {{ item.title }} </p> </div>
            <div> <p> {{ item.type }} </p> </div>
            <!-- <div> <a href="" ng-click="todo.addToFavorite(item);"> Add to Favorite </a> </div> -->
            <div> <a href="" ng-click="todo.removeTodo(item, $index);"> Delete </a> </div>
          </div>
        </li>
      </ul>
      <p ng-hide="todo.remaining() === 0" class="todo__remaining">You have {{ todo.remaining() }} remaining tasks out of {{ todo.list.length }} </p>
      <p ng-hide="todo.remaining() != 0" class="todo__remaining">You have completed all your {{ todo.list.length }} tasks! </p>
      <!-- <div class="d-flex justify-content-center">
        <h1> Favorites List </h1>
      </div>
      <div class="todo">
        <ul>
          <li ng-repeat="item in todo.favorite">
            <div class="d-flex justify-content-between">
              <div> <p> {{ item.title }} </p> </div>
              <div> <p> {{ item.type }} </p> </div>
            </div>
          </li>
        </ul>
      </div> -->
      <div class="todo" ng-controller="ApiController as api">
        <form ng-submit="api.getUser()">
          <input type="text"
            ng-model="api.entry"
            stretch>
          <input type="submit">
        </form>
        <!-- <p> {{ api.result.isValid | json }} </p> -->
        <p ng-show="api.result.isValid === true"> Valid </p>
        <p ng-show="api.result.isValid != true"> Invalid </p>
        <p> Erroneos parentheses: {{ api.result.errorDetails.erroneosParentheses | json }} </p>
        <p> Preceeding parentheses: {{ api.result.errorDetails.preceedingParentheses | json }} </p>
      </div>
    </div>

    <div class="todo" ng-controller="UserController as user">
      <form ng-submit="user.getUser();">
        <input type="text" placeholder="input user ID" ng-model="user.userId" stretch>
        <input type="submit">
      </form>
      <p> {{ user.result.name | json }} </p>
      <p> {{ user.result.address.city | json }} </p>
    </div>

    <!-- <div ng-controller="CounterController as counter"> -->
    <div ng-controller="OrderController as order">
      <div class="d-flex justify-content-center">
        <div>
          <h4 class="counter mt-5">{{ order.orderName }}: </h4>
        </div>
        <div>
          <counter name="{{order.orderName}}" count="order.orderQuantity"></counter>
        </div>
      </div>
    </div>

    <div ng-controller="OrderController as order">
      <div class="d-flex justify-content-center">
        <div>
          <h4 class="counter mt-5"> {{ order.orderName }} </h4>
        </div>
        <div>
          <counter name="{{order.orderName}}" count="order.orderQuantity"></counter>
        </div>
      </div>
    </div>

    <script src="js/app.js"></script>
    <script src="js/todo.controller.js"></script>
    <script src="js/api.controller.js"></script>
    <script src="js/user.controller.js"></script>
    <script src="js/user.service.js"></script>
    <script src="js/stretch.directive.js"></script>
    <script src="js/counter.controller.js"></script>
    <script src="js/counter.directive.js"></script>
    <script src="js/order.controller.js"></script>
  </body>
</html>
